*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/common/schemas/llm.slop.spirals.database.MandalaDatabase/1.json
/common/build/kspCaches/desktop/desktopMain/ap-classpath-entries.bin
/common/build/kotlin/compileKotlinDesktop/local-state/build-history.bin
/common/build/kspCaches/desktop/desktopMain/caches.uptodate
/common/build/kspCaches/desktop/desktopMain/classpath-entries.bin
/common/build/kspCaches/desktop/desktopMain/classpath-structure.bin
/common/build/kspCaches/desktop/desktopMain/classLookups/counters.tab
/common/build/kspCaches/desktop/desktopMain/symbolLookups/counters.tab
/common/build/kotlin/compileKotlinDesktop/cacheable/dirty-sources.txt
/.kotlin/errors/errors-1769282814148.log
/.kotlin/errors/errors-1769747820044.log
/.kotlin/errors/errors-1770228725062.log
/.kotlin/errors/errors-1770228847513.log
/.kotlin/errors/errors-1770230620008.log
/.kotlin/errors/errors-1770230675045.log
/.kotlin/errors/errors-1770230944943.log
/.kotlin/errors/errors-1770231567453.log
/.kotlin/errors/errors-1770231986425.log
/desktop/build/processedResources/jvm/main/feedback_fragment.glsl
/common/build/kspCaches/desktop/desktopMain/classLookups/file-to-id.tab
/common/build/kspCaches/desktop/desktopMain/symbolLookups/file-to-id.tab
/common/build/kspCaches/desktop/desktopMain/classLookups/file-to-id.tab.keystream
/common/build/kspCaches/desktop/desktopMain/symbolLookups/file-to-id.tab.keystream
/common/build/kspCaches/desktop/desktopMain/classLookups/file-to-id.tab.keystream.len
/common/build/kspCaches/desktop/desktopMain/symbolLookups/file-to-id.tab.keystream.len
/common/build/kspCaches/desktop/desktopMain/classLookups/file-to-id.tab.len
/common/build/kspCaches/desktop/desktopMain/symbolLookups/file-to-id.tab.len
/common/build/kspCaches/desktop/desktopMain/classLookups/file-to-id.tab.values.at
/common/build/kspCaches/desktop/desktopMain/symbolLookups/file-to-id.tab.values.at
/common/build/kspCaches/desktop/desktopMain/classLookups/file-to-id.tab_i
/common/build/kspCaches/desktop/desktopMain/symbolLookups/file-to-id.tab_i
/common/build/kspCaches/desktop/desktopMain/classLookups/file-to-id.tab_i.len
/common/build/kspCaches/desktop/desktopMain/symbolLookups/file-to-id.tab_i.len
/common/build/kspCaches/desktop/desktopMain/classLookups/id-to-file.tab
/common/build/kspCaches/desktop/desktopMain/symbolLookups/id-to-file.tab
/common/build/kspCaches/desktop/desktopMain/classLookups/id-to-file.tab.keystream
/common/build/kspCaches/desktop/desktopMain/symbolLookups/id-to-file.tab.keystream
/common/build/kspCaches/desktop/desktopMain/classLookups/id-to-file.tab.keystream.len
/common/build/kspCaches/desktop/desktopMain/symbolLookups/id-to-file.tab.keystream.len
/common/build/kspCaches/desktop/desktopMain/classLookups/id-to-file.tab.len
/common/build/kspCaches/desktop/desktopMain/symbolLookups/id-to-file.tab.len
/common/build/kspCaches/desktop/desktopMain/classLookups/id-to-file.tab.values.at
/common/build/kspCaches/desktop/desktopMain/symbolLookups/id-to-file.tab.values.at
/common/build/kspCaches/desktop/desktopMain/classLookups/id-to-file.tab_i
/common/build/kspCaches/desktop/desktopMain/symbolLookups/id-to-file.tab_i
/common/build/kspCaches/desktop/desktopMain/classLookups/id-to-file.tab_i.len
/common/build/kspCaches/desktop/desktopMain/symbolLookups/id-to-file.tab_i.len
/common/build/kspCaches/desktop/desktopMain/classLookups/lookups.tab
/common/build/kspCaches/desktop/desktopMain/symbolLookups/lookups.tab
/common/build/kspCaches/desktop/desktopMain/classLookups/lookups.tab.keystream
/common/build/kspCaches/desktop/desktopMain/symbolLookups/lookups.tab.keystream
/common/build/kspCaches/desktop/desktopMain/classLookups/lookups.tab.keystream.len
/common/build/kspCaches/desktop/desktopMain/symbolLookups/lookups.tab.keystream.len
/common/build/kspCaches/desktop/desktopMain/classLookups/lookups.tab.len
/common/build/kspCaches/desktop/desktopMain/symbolLookups/lookups.tab.len
/common/build/kspCaches/desktop/desktopMain/classLookups/lookups.tab.values.at
/common/build/kspCaches/desktop/desktopMain/symbolLookups/lookups.tab.values.at
/common/build/kspCaches/desktop/desktopMain/classLookups/lookups.tab_i
/common/build/kspCaches/desktop/desktopMain/symbolLookups/lookups.tab_i
/common/build/kspCaches/desktop/desktopMain/classLookups/lookups.tab_i.len
/common/build/kspCaches/desktop/desktopMain/symbolLookups/lookups.tab_i.len
/desktop/build/processedResources/jvm/main/mandala_fragment.glsl
/desktop/build/processedResources/jvm/main/mandala_vertex.glsl
/common/build/generated/ksp/desktop/desktopMain/kotlin/llm/slop/spirals/database/MandalaDatabase_Impl.kt
/common/build/kspCaches/desktop/desktopMain/backups/kotlin/llm/slop/spirals/database/MandalaDatabase_Impl.kt
/common/build/generated/ksp/desktop/desktopMain/kotlin/llm/slop/spirals/database/daos/MandalaPatchDao_Impl.kt
/common/build/kspCaches/desktop/desktopMain/backups/kotlin/llm/slop/spirals/database/daos/MandalaPatchDao_Impl.kt
/common/build/generated/ksp/desktop/desktopMain/kotlin/llm/slop/spirals/database/daos/MandalaSetDao_Impl.kt
/common/build/kspCaches/desktop/desktopMain/backups/kotlin/llm/slop/spirals/database/daos/MandalaSetDao_Impl.kt
/common/build/generated/ksp/desktop/desktopMain/kotlin/llm/slop/spirals/database/daos/MandalaTagDao_Impl.kt
/common/build/kspCaches/desktop/desktopMain/backups/kotlin/llm/slop/spirals/database/daos/MandalaTagDao_Impl.kt
/desktop/build/processedResources/jvm/main/mixer_fragment.glsl
/common/build/generated/ksp/desktop/desktopMain/kotlin/llm/slop/spirals/database/daos/MixerPatchDao_Impl.kt
/common/build/kspCaches/desktop/desktopMain/backups/kotlin/llm/slop/spirals/database/daos/MixerPatchDao_Impl.kt
/desktop/build/processedResources/jvm/main/passthrough_fragment.glsl
/desktop/build/processedResources/jvm/main/quad_vertex.glsl
/common/build/generated/ksp/desktop/desktopMain/kotlin/llm/slop/spirals/database/daos/RandomSetDao_Impl.kt
/common/build/kspCaches/desktop/desktopMain/backups/kotlin/llm/slop/spirals/database/daos/RandomSetDao_Impl.kt
/desktop/build/processedResources/jvm/main/screen_fragment.glsl
/common/build/kspCaches/desktop/desktopMain/sealed
/common/build/generated/ksp/desktop/desktopMain/kotlin/llm/slop/spirals/database/daos/ShowPatchDao_Impl.kt
/common/build/kspCaches/desktop/desktopMain/backups/kotlin/llm/slop/spirals/database/daos/ShowPatchDao_Impl.kt
/common/build/kspCaches/desktop/desktopMain/sourceToOutputs
/common/build/kspCaches/desktop/desktopMain/symbols
/desktop/build/processedResources/jvm/main/trail_fragment.glsl
/desktop/build/processedResources/jvm/main/trail_vertex.glsl
